{% extends 'inflearn_lecture/base.html' %}

{% block content %}
    여기는 홈.....

    <h2>인기강의</h2>
    <div class="row">
        {% for text in texts %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ text.img_url}}" alt="...">
                        <div class="caption">
                            <h3>{{ text.title}}</h3>
                        </div>

                    </div>

                </div>
        {% endfor %}
    </div>

{% endblock %}
