{% extends 'inflearn_lecture/base.html' %}

{% block content %}
    <style>
        .contents {
            width: 1000px;
            margin: auto;
            padding: 100px;
        }
    </style>
 

    <!-- 상세 페이지 내용 영역 -->
    <div class="contents">
        {{ board_contents.board_text | safe }}

    </div>


    <!-- 강의 리스트 영역 -->
    <div>
        <style>
            tr {
                border: 1px solid gray;
                padding: 10px;
                background-color: lightgray;
            }
        </style>
        <table style="width: 500px; margin: auto;">
            <tr>
                <td>
                    {% if board_contents.lecture_title1 %}
                        {{ board_contents.lecture_title1 }}
                    {% endif %}
                        </td>
            </tr>
            <tr>
                <td>
                    {% if board_contents.lecture_title2 %}
                        {{ board_contents.lecture_title2 }}
                    {% endif %}
                    </td>
            </tr>
            <tr>
                <td>
                    {% if board_contents.lecture_title3 %}
                        {{ board_contents.lecture_title3 }}
                    {% endif %}
                    
                </td>
            </tr>
            <tr>
                <td>
                    {% if board_contents.lecture_title4 %}
                        {{ board_contents.lecture_title4 }}
                    {% endif %}
            </td>
            </tr>
        </table>
    </div>




    <!-- 댓글 작성 영역 -->
    <div style="width: 800px; margin: auto;" >
        <form method="POST" action="{% url 'lecture_list_info' pk=board_contents.pk %}">{% csrf_token %}
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">평점</label>
                <div class="col-sm-10">
                    <input name="rate" type="number" class="form-control" placeholder="평점">
                </div>
            </div>


            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">글쓴이</label>
                <div class="col-sm-10">
                    <input name="writer" type="text" class="form-control" id="inputEmail3" placeholder="글쓴이">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">댓글</label>
                <div class="col-sm-10">
                    <input name="comment" type="text" class="form-control" id="inputPassword3" placeholder="댓글">
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>





    <!-- 댓글 영역 -->
    <div style="width: 800px; margin: auto; padding: 10px;">
        {% for comment in comments %}
            <div style="border: 1px solid gray; border-radius: 10px;">
                <h2>rate : {{ comment.rate }}</h2>
                <h2>writer : {{ comment.writer }}</h2>
                <h2>comment : {{ comment.comment }}</h2>

                <form method="POST" action="{% url 'comment_remove' pk=comment.pk %}">
                    {% csrf_token %}
                    <button>삭제하기</button>
                </form>
            </div>
        {% endfor %}
    </div>




{% endblock %}
